{% extends 'base.html' %}

{% block content %}
<div id="app">
  <div class="main-wrapper">
    <!-- NAVBAR -->
    <div class="navbar-bg mr-auto"></div>
    <nav class="navbar navbar-expand-lg main-navbar">
      <!-- Search element -->
      <form class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
          <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
          <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a>
          </li>
        </ul>
      </form>
      <!-- Notif & profile -->
      <ul class="navbar-nav navbar-right">

        <li class="dropdown"><a href="#" data-toggle="dropdown"
            class="nav-link dropdown-toggle nav-link-lg nav-link-user">

            <div class="d-sm-none d-lg-inline-block" style="font-size: 20px;">Administrator</div>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-divider"></div>
            <a href="/super/logout/" class="dropdown-item has-icon text-danger">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
          </div>
        </li>
      </ul>
      <!-- NAVBAR -->
    </nav>


    <!-- MAIN CONTENT -->
    <div class="main-sidebar">
      <aside id="sidebar-wrapper">
        <div class="sidebar-brand mt-4">
          {% load static%}
          <div class="row" >
            <a href="/super/homepage"><img src="{% static 'login/logo.jpeg' %}" width="230px"></a>
          </div>
        </div>

        <!-- SIDEBAR -->
        <ul class="sidebar-menu" style="padding-top: 2em;">
          <li class="menu-header">MENU</li>
          <li class="nav-item dropdown">
            <a href="" class="nav-link has-dropdown"><i class="fas fa-edit"></i><span>Surat</span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-link active" href="/super/homepage/suratmasuk/">Input Surat Masuk</a></li>
              <li><a class="nav-link" href="/super/homepage/suratkeluar/">Input Surat Keluar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="" class="nav-link has-dropdown"><i class="fas fa-cog"></i><span>Data Sistem</span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-link active" href="/super/homepage/department/">Department</a></li>
              <li><a class="nav-link" href="/super/homepage/user/">User</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="" class="nav-link has-dropdown"><i class="fas fa-book"></i><span>Laporan Surat</span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="/super/report/suratmasuk/">Surat Masuk</a></li>
              <li><a class="nav-link" href="/super/report/suratkeluar/">Surat Keluar</a></li>
            </ul>
          </li>
        </ul>
        <!-- END SIDEBAR -->

      </aside>
    </div>
    <div class="main-content">
      <section class="section">
        <div class="section-header">
          <a href="/super/homepage" class="btn text-white fa fa-arrow-left bg-primary"
            style="max-width: 40px; max-height: 35px; font-size: 20px; padding: 4px 8px 4px 8px"></a></a>
          <h1 style="font-size: 30px;">&nbsp;Back</h1>
        </div>

        <div class="row ms-auto justify-content-end m-auto p-auto" style="margin-right: 1em;">
          <a href="/super/register/department/" class="btn btn-success mb-3" style="width: 200px;">Buat Department</a>
        </div>

        <div class="row">
          {% for i in d_list %}
          <div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex align-items-stretch">
            <a href="/super/homepage/department/{{i.url}}" class="card card-statistic-1" style="text-decoration: none;">
              <div class="card-icon bg-primary text-center text-white">
                <i class="fas fa-circle white pt-3 m-auto" style="font-size: 50px;"></i>
              </div>
              <div class="card-wrap">
                <div class="card-header">
                  <h4 style="font-size: 20px; color: rgb(73, 73, 73);">{{ i.departementName }}</h4>
                </div>
                <div class="card-body" style="color: rgb(163, 163, 163);font-size: 15px;">
                  Divisi : {{ i.divisi_set.all.count }}
                </div>


              </div>
            </a>
            <div class="row h-25">
              <button id="{{i.departementID}}" class="btn bg-danger text-white fa fa-trash"
              style="position: relative; padding: 5px 10px 5px 10px;" width="20" height="20">
            </button>
            </div>
          </div>
          <script>
            var button = document.getElementById('{{i.departementID}}');
            function del() {
              var res = confirm('Konfirmasi hapus - {{i.departementName}}');
              if (res == true) {
                window.location = '/delete/department/{{i.departementID}}';
              }
            }
            button.addEventListener('click', del);
          </script>
          {% endfor %}
        </div>
      </section>
    </div>
  </div>
</div>


{% load static %}
<!-- General JS Scripts -->
<script src="{% static 'bootstrap/js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/popper.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/jquery.nicescroll.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/moment.min.js' %}" crossorigin="anonymous"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script> -->
{%load static%}
<script src="{% static 'bootstrap/js/stisla.js' %}"></script>

<!-- JS Libraies -->

<!-- Template JS File -->
<script src="{% static 'bootstrap/js/scripts.js' %}"></script>
<script src="{% static 'bootstrap/js/custom.js' %}"></script>
<script src="{% static 'bootstrap/js/index.js' %}"></script>



{% endblock %}