{% extends 'base.html' %}

{% block content %}
<div id="app">
  <div class="main-wrapper">
    <!-- NAVBAR -->
    <div class="navbar-bg"></div>
    <nav class="navbar navbar-expand-lg main-navbar" style="justify-content: flex-end;">

      <!-- Notif & profile -->
      <ul class="navbar-nav navbar-right">        
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
          <div class="d-sm-none d-lg-inline-block" style="font-size: 20px;">{{ user.firstName }} {{ user.lastName }}</div>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="/homepage/suratmasuk/" class="dropdown-item has-icon">
              Surat Masuk
            </a>
            <a href="/homepage/suratkeluar" class="dropdown-item has-icon">
              Surat Keluar
            </a>
            <a href="" class="dropdown-item has-icon">
              Pengaturan Akun
            </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
          </div>
        </li>
      </ul>
      <!-- NAVBAR -->

    </nav>
      <div class="main-content" style="padding-left: 30px">
      <section class="section">
        <div class="section-header">
          <a href="/homepage" class="btn text-white fa fa-arrow-left bg-primary" style="max-width: 40px; max-height: 35px; font-size: 20px; padding: 4px 8px 4px 8px"></a></a>
          <h1 style="font-size: 30px;">&nbsp;Back</h1>
        </div>


        <div class="card">
          <div class="card-body">
            <div class="form-group" style="white-space: initial; position: relative;">
              {% for i in file %}
              <a href="/homepage/download/{{i.file}}" class="btn p-1 bg-success text-white" style="word-break: break-all;"><span class="fa fa-download">&nbsp;{{i.file}}</span></a>
              {% endfor %}
            </div>
            <div class="form-group">
              <label for="namaBerkas" style="font-size: 17px;">Judul Surat</label>
              <input type="text" style="white-space: initial;" class="form-control" id="department" placeholder="{{ surat.fileName }}" disabled>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="noSurat" style="font-size: 17px;">Nomor Surat</label>
                <input type="text" class="form-control" id="department" placeholder="{{surat.nomor_surat}}" disabled>
              </div>
              <div class="form-group col-md-6">
                <label for="perihal" style="font-size: 17px;">Perihal</label>
                <textarea type="text" class="form-control" id="department" placeholder="{{surat.perihal}}" disabled></textarea>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="tipe-berkas" style="font-size: 17px;">Tipe Berkas</label>
                <input type="text" class="form-control" id="department" placeholder="{{surat.typeBerkas}}" disabled>
              </div>
              <div class="form-group col-md-6">
                <label for="jenis-berkas" style="font-size: 17px;">Jenis Berkas</label>
                <input type="text" class="form-control" id="department" placeholder="{{surat.jenisBerkas}}" disabled>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="sender" style="font-size: 17px;">Penerima</label>
                <input type="text" class="form-control" id="department" placeholder="{{surat.destination}}" disabled>
              </div>
              <div class="form-group col-md-6">
                  <label for="addressSender" style="font-size: 17px;">Alamat</label>
                  <input type="text" class="form-control" id="department" placeholder="{{surat.destination_address}}" disabled>
              </div>
            </div>

        </div>
      </section>


        
<!-- General JS Scripts -->
<script>
  JsBarcode(".barcode").init();
</script>
<script src="{% static 'bootstrap/js/jquery-3.3.1.min.js' %}"  crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/popper.min.js' %}"  crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"  crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/jquery.nicescroll.min.js' %}"  crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/moment.min.js' %}"  crossorigin="anonymous"></script>
{%load static%}
<script src="{% static 'bootstrap/js/stisla.js' %}"></script>

<!-- JS Libraies -->

<!-- Template JS File -->
<script src="{% static 'bootstrap/js/scripts.js' %}"></script>
<script src="{% static 'bootstrap/js/custom.js' %}"></script>
<script src="{% static 'bootstrap/js/index.js' %}"></script>



{% endblock %}