<!doctype html>
<html lang="en">
    <head>
        {%load static%}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

          <!-- General CSS Files -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap4.min.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        
        <!-- Bootstrap CSS -->
        <link href="{% static 'bootstrap/css/bootstrap5.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'bootstrap/css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/components.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/jquery-ui.css' %}">
        <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/x.min.js' %}"></script>

        <title>Management</title>
    </head>
  <body style="font-size: 18px;">
          
            {% block content %}

            {% endblock %}
        
        
  </body>
</html>
